Source: yle-dl
Priority: extra
Section: net
Maintainer: Eugene V. Lyubimkin <jackyf@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libgnutls-dev, nettle-dev, libltdl-dev
Standards-Version: 3.9.3

Package: yle-dl
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, python
Provides: rtmpdump
Description: downloader of media files from YLE
 Yle-dl is a command-line program for downloading media files
 from the two video streaming services of the Finnish national
 broadcasting company Yle: Yle Areena, http://areena.yle.fi/, and Elävä
 Arkisto, http://www.yle.fi/elavaarkisto/.

