Source: yle-dl
Priority: extra
Section: net
Maintainer: Henrik Pitkala <hpitkala@hotmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3

Package: yle-dl
Architecture: all
Depends: rtmpdump, python, python-crypto
Description: downloader of media files from YLE
 Yle-dl is a command-line program for downloading media files
 from the two video streaming services of the Finnish national
 broadcasting company Yle: Yle Areena, http://areena.yle.fi/, and Elävä
 Arkisto, http://www.yle.fi/elavaarkisto/.
